body {
	overflow-y: hidden;
	background:#eaeaea;
	cursor: url(https://luanshang.oss-cn-hangzhou.aliyuncs.com/img/f01.cur), auto;
}
a {
	cursor: url(https://yjlaugus.gitee.io/blog/img/body/OW-Hand.cur), auto!important;
}