body {
	overflow-y: hidden;
	background:#eaeaea;
	cursor: url(https://yjlaugus.gitee.io/blog/img/body/OW-Arrow.cur), auto;
}
a {
	cursor: url(https://yjlaugus.gitee.io/blog/img/body/OW-Hand.cur), auto!important;
}