body {
	overflow-y: hidden;
	background:#eaeaea;
	cursor: url(https://luanshang.oss-cn-hangzhou.aliyuncs.com/img/f01.cur), auto;
}
a {
	cursor: url(https://luanshang.oss-cn-hangzhou.aliyuncs.com/img/%E9%BC%A0%E6%A0%87/Zlink.cur), auto!important;
}